.container-img {
    background: #222;
    color: #fff;
    position: relative;
    background-size: cover;
    background-position: center;
    max-width: 150px;
    height: 150px;
    margin: auto;
  }
  
  #textBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: #fff solid 2px;
    outline: none;
    background: transparent;
    color: #fff;
    padding: 5px;
  }
  #prevText{
      width: 100%;
      position: relative;
  text-align: center;
  }
  #upload-icon{
      position: absolute;
      width: 100%;
      bottom: 100px;
      align-items: center;
      text-align: center;
      scale: 2;
  }